@charset "utf-8";
/* CSS Document */

body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select,td,figure{margin:0;padding:0;}
body{font:12px  "宋体"; word-wrap:break-word;}
a,u,s,del{color:#666;text-decoration:none} 
fieldset ,a img,.bor0 {border:0;}
i,em,b{font-style:normal;font-weight:100;}
li{list-style:none;}
img{vertical-align:middle;}
table{border-collapse:collapse;}
h1{display:none;}
input,textarea{outline:none;}/*去除google点击蓝框bug*/
textarea{resize:none;}/*固定多行文本输入框大小*/
.ind2{text-indent:2em;}


/*图片居中*/
.valign{text-align:center;}
.valign img{vertical-align:middle;}
.valign:after{content:"";display:inline-block;vertical-align:middle;height:100%;}

/*文本溢出隐藏出现省略号*/
.over{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}

/*定位居中*/
.center{left:0;top:0;right:0;bottom:0;margin:auto;}

/*万能清除法*/
.clear{zoom:1;/*解决ie的神奇属性*/}
.clear:before{content:"";display:table;}/*解决第一个子元素margin-top向上传递*/
.clear:after{content:"";clear:both;display:block;}/*清除浮动*/



